@import "bourbon";
img.background {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
-moz-background-size: cover;
background-size: cover;
}

img.badges {
width: 600px;
margin-left: -100px;
margin-top: -1169px;
/* margin-bottom: auto; */
position: relative;
/* margin: 50% 50%; */
position: absolute;
}