// Place all the styles related to the trandinservice controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*img.badges {
width: 200px;
margin-left: -100px;
margin-top: -40px;
margin-bottom: auto;
 
position: absolute;
}
*/
