 
 <!-- 		<h1>匿名者 - ANONYMOUS</h1> -->  
        <%= image_tag ("http://i.imgur.com/Frojl1Q.jpg"),:class=>"background img-responsive"%>	
<!-- <img id="background" alt="background" src="/assets/home_bg.jpg" > -->
  <div align="center">
<a href="https://play.google.com/store/apps/details?id=com.Social.Movement3" >
  <img  class = "badges"alt="Android app on Google Play"
       src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" style="
position: fixed;
top: 50%;
left: 50%;
margin-top: -30px;
margin-left: -86px;
width: 172px;
height: 60px;" />
</a>
</div>
 
</html>
