 
 <!-- 		<h1>匿名者 - ANONYMOUS</h1> -->  
        <%= image_tag ("http://i.imgur.com/Frojl1Q.jpg"),:class=>"background img-responsive"%>	
<!-- <img id="background" alt="background" src="/assets/home_bg.jpg" > -->
  <div align="center">
<a href="https://play.google.com/store/apps/details?id=com.Anonymous.tw" >
  <img  class = "badges"alt="Android app on Google Play"
       src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" style="
       width: 600px;
margin-left: -100px;
margin-top: -1169px;
/* margin-bottom: auto; */
position: relative;
/* margin: 50% 50%; */
position: absolute;" />
</a>
</div>
 
</html>
