
<footer class="row  ">
  <div class="col-md-12" >
  <p class="productDetail"> © 2014 Copyright Galaxy All rights reserved.</p>
      <div class="col-md-3" >
        <%= image_tag ("waxing.png"),:class=>"info1 img-responsive"%>
      </div>
      
      <div class="col-md-9" >
      </div>
  </div>
  
</footer>